//form
.form-control {
    outline: 0;
    &::placeholder {
        color: darken($light, 25%);
        font-size: $font-size-base * 0.9;
    }
}

//resignation-form
.resignation-form {
    right: 0;
    width: $resignation-form-width;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

// filter-form
.filter-form {
    width: $filter-form-width;
    @include media-breakpoint-down(sm) {
        height: $filter-form-height;
        width: $filter-form-width-sm;
    }
}

// create project form start
.create-project-form {
    width: $project-form-width;
    top: 0;
    right: 0;
    z-index: 6;
    @include media-breakpoint-down(xs) {
        width: 100%;
    }
    //  form control
    #hoursApproverId,
    #projectfild {
        padding: 0.4rem 1rem 0.4rem 2rem;
    }
    #projectfild {
        padding: 0.2rem 0.5rem 0.1rem 0.3rem;
    }
    .form-control {
        &:focus {
            border-color: $gray-400;
        }
    }
    .calendar-icon {
        position: absolute;
        top: 6px;
        right: 16px;
    }
    .user-icon {
        position: absolute;
        top: 42px;
        left: 10px;
    }
}

// create project end
// project list header styles
.staff-list-head {
    .form-group {
        position: relative;
        &:nth-child(2) {
            width: 250px;
            @media only screen and (max-width: 375px) {
                width: 190px;
            }
            .list-group {
                top: 38px;
                width: 100%;
            }
        }
    }
}

//end project list header styles
.text-normal {
    font-size: 12px;
}

//Save Btn
.save-hovre {
    &:disabled {
        cursor: not-allowed;
    }
}

// Width of Add Client And Add Project
.add-width {
    width: 260px;
    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.add-box {
    right: 0;
}

// Add Project filed Btn in Project-form
.add-project-btn {
    height: 37px;
}

// Add role form
.add-role-form {
    width: $project-form-width;
    top: 0;
    right: 0;
    z-index: 6;
    @include media-breakpoint-down(xs) {
        width: 100%;
    }
    //  form control
    .form-control {
        &:focus {
            border-color: $gray-400;
        }
    }
    .dollar-icon {
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;
    }
    .input-group>.form-control:focus {
        z-index: 0;
    }
}

// end Add Role
// Role list header styles
.role-list-head {
    .form-group {
        position: relative;
        &:nth-child(2) {
            width: 250px;
            @media only screen and (max-width: 375px) {
                width: 190px;
            }
            .list-group {
                top: 38px;
                width: 100%;
            }
        }
    }
}

//End: Role list header styles
//hours approval week range
.left-week-range {
    left: 25px;
    top: 10px;
}

.right-week-range {
    top: 10px;
    right: 25px;
}

//end:hours approval week range

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}