<!--main wrapper-->
<div class="container-fluid">
    <div class="my-4">
        <!--main header-->
        <div class="row no-gutters">
            <div class="col-lg-4 p-0">
                <div class="d-flex align-items-center">
                    <!--project dropdown-->
                    <div class="form-group">
                        <select class="form-control text-capitalize rounded ml-2
                            approval-custom-box" (change)="changeProject()" [(ngModel)]="projectId">
                            <option value="null" disabled>--- Select Project ---</option>
                            <option *ngFor="let projectList of projectDetail"
                                value="{{projectList.subProjectId}}">
                                {{projectList.subProjectName}}</option>
                        </select>
                    </div>
                    <!--end:project dropdown-->
                </div>
                <hr class="my-lg-1">
            </div>
            <div class="col-lg-8 p-0">
                <div class="weekly-hours-submission">
                    <form class="d-lg-flex flex-column" [formGroup]="dateForm">
                        <!-- sub header -->
                        <div class="row flex-shrink-0">
                            <div class="col-12 col-lg-6 d-flex">
                                <!-- calendar -->
                                <div class="form-group calendar
                                    position-relative">
                                    <span for="datePicker" class="fa fa-caret-left fa-lg
                                        position-absolute px-2 cursor-pointer" (click)="decrementWeek()"></span>
                                    <input type="text" formControlName="weekRange" placeholder="sept 09 - sept 15, 2019" class="form-control cursor-pointer
                                        text-center" id="datePicker" bsDaterangepicker [bsConfig]="dateRangePickerConfig" (ngModelChange)="weekDates()" (focusout)="getFlag()">
                                    <span for="datePicker" class="fa fa-caret-right fa-lg
                                        position-absolute px-2 cursor-pointer" (click)="incrementWeek()"></span>
                                </div>
                                <!--end:calendar -->
                            </div>
                        </div>
                        <!-- end sub header -->
                    </form>
                </div>
                <hr class="my-lg-1 my-2">
            </div>
        </div>
        <!--end:main header-->
        <!--time card-->
        <div class="col-12 d-lg-block d-none mt-3">
            <div class="bg-primary">
                <p class="text-white py-2 ml-2 m-0">TimeCard</p>
            </div>
            <div class="row no-gutters">
                <div class="table-responsive">
                    <!--table-->
                    <table class="table approval-data flex-column table-hover
                        table-striped border-0">
                        <!--thead-->
                        <thead class="bg-primary text-white whitespace-nowrap">
                            <tr>
                                <th>
                                    <div class="px-2 text-center bg-white
                                        rounded">
                                        <input type="checkbox" class="align-middle" (change)="selectAllTimeCard($event)" [disabled]="!filteredList ||
                                            filteredList.length == 0" [checked]="checkBoxSelect" name="" id="">
                                    </div>
                                </th>
                                <th>User</th>
                                <th>Comments</th>
                                <th></th>
                                <th>Approved</th>
                                <th colspan="2">Unapproved</th>
                                <th colspan="2">Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <!--end:thead-->
                        <tbody>
                            <!--No records msg-->
                            <tr class="bg-transparent border-0" rowspan="2" *ngIf="!filteredList || filteredList.length ==
                                0">
                                <td colspan="8" class="p-0 w-100 text-center">
                                    <div class="alert alert-primary text-center
                                        p-3 my-3" role="alert">
                                        No records found.
                                    </div>
                                </td>
                            </tr>
                            <!-- end:No records msg -->
                            <tr *ngFor="let timeCard of filteredList | slice:
                                (currentPage * pageSize) - pageSize :currentPage
                                * pageSize">
                                <th>
                                    <div class="invisible"></div>
                                    <div class="px-1 text-center bg-white
                                        rounded">
                                        <input type="checkbox" *ngIf="(approverRoleId == 1 &&
                                            timeCard.approvalStatusId == 1) ||
                                            (approverRoleId == 2 &&
                                            timeCard.approvalStatusId == 2)" [(ngModel)]="timeCard.checked" (change)="selectCheckBox($event)" name="" id="">
                                        <input type="checkbox" *ngIf="(approverRoleId == 1 &&
                                            timeCard.approvalStatusId != 1) ||
                                            (approverRoleId == 2 &&
                                            timeCard.approvalStatusId != 2)" checked disabled>
                                    </div>
                                </th>
                                <td>{{timeCard.employeeName}} [{{timeCard.hoursType}}]
                                </td>
                                <td>{{timeCard.remark}}</td>
                                <td></td>
                                <td *ngIf="(approverRoleId == 1 &&
                                    timeCard.approvalStatusId == 1) ||
                                    (approverRoleId == 2 &&
                                    timeCard.approvalStatusId == 2)">
                                    0</td>
                                <td *ngIf="(approverRoleId == 1 &&
                                    timeCard.approvalStatusId != 1) ||
                                    (approverRoleId == 2 &&
                                    timeCard.approvalStatusId != 2)">
                                    {{timeCard.totalHours}}</td>
                                <td></td>
                                <td *ngIf="(approverRoleId == 1 &&
                                    timeCard.approvalStatusId != 1) ||
                                    (approverRoleId == 2 &&
                                    timeCard.approvalStatusId != 2)">
                                    0</td>
                                <td *ngIf="(approverRoleId == 1 &&
                                    timeCard.approvalStatusId == 1) ||
                                    (approverRoleId == 2 &&
                                    timeCard.approvalStatusId == 2)">
                                    {{timeCard.totalHours}}</td>
                                <td></td>
                                <td>{{timeCard.totalHours}}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="border-0 rounded bg-white
                                            dropdown-toggle text-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="fa fa-gear"></span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another
                                                action</a>
                                            <a class="dropdown-item" href="#">Something
                                                else here</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--end:table-->
                </div>
            </div>
        </div>
        <!--end:time card-->
        <div class="col-12">
            <div class="bg-primary">
                <!-- Pagination -->
                <div class="row no-gutters align-items-center pt-md-auto
                    d-lg-block d-none">
                    <div class="col-12 d-flex justify-content-end">
                        <nav aria-label="Page-navigation">
                            <ul class="pagination bg-primary d-flex
                                align-items-center border-radius mb-0">
                                <!-- Add class "disabled" when in previous and next "li tag" -->
                                <li class="page-item disabled" [ngClass]="{'disabled' : (currentPage==1)}">
                                    <button class="page-link d-flex
                                        align-items-center
                                        justify-content-center border-radius
                                        border-0" (click)="onPageChanges(currentPage -
                                        1)">
                                        <span class="fa fa-chevron-left
                                            pagination-icon"></span>
                                        <span class="sr-only">Previous</span>
                                    </button>
                                </li>
                                <li class="page-item text-white">
                                    <a class="p-3">{{ currentPage }} of
                                        {{numberOfPages()}}</a>
                                </li>
                                <li class="page-item" [ngClass]="{'disabled' :
                                    (currentPage === numberOfPages())}">
                                    <button class="page-link d-flex
                                        align-items-center
                                        justify-content-center border-radius
                                        border-0" (click)="onPageChanges(currentPage +
                                        1)">
                                        <span class="fa fa-chevron-right"></span>
                                        <span class="sr-only">Next</span>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--end:Pagination-->
            </div>
        </div>
        <!--accordian-view-->
        <div class="d-lg-none m-3">
            <div class="col-12 p-0">
                <div class="bg-primary">
                    <p class="text-white py-2 ml-2 m-0">TimeCard</p>
                </div>
                <div class="dropdown bg-primary d-flex p-2 mt-1" *ngIf="!filteredList || filteredList.length != 0">
                    <div class="px-2 py-0 bg-white rounded mr-3 ml-1">
                        <input type="checkbox" class="align-middle" (change)="checkAllTimeCard($event)" [checked]="checkBoxSelect" name="" id="">
                    </div>
                    <span class="text-white">User</span>
                </div>
                <div class="dropdown bg-primary d-flex p-2 mt-1" *ngIf="!filteredList || filteredList.length == 0" role="alert">
                    <span class="text-white">No Record Found</span>
                </div>
                <!--user name and data-->
                <ng-container *ngFor="let timeCard of filteredList">
                    <!--data 1-->
                    <div class="bg-light d-flex flex-nowrap
                        justify-content-between p-2">
                        <div class="collapsed d-flex align-items-center" id="accordion1" data-toggle="collapse" data-parent="#accordion1">
                            <div class="px-2 py-0 bg-white rounded mr-3 ml-1">
                                <input type="checkbox" class="align-middle" *ngIf="(approverRoleId == 1 &&
                                    timeCard.approvalStatusId == 1) ||
                                    (approverRoleId == 2 &&
                                    timeCard.approvalStatusId == 2)" [(ngModel)]="timeCard.checked" (change)="selectCheckBox($event)" name="" id="">
                                <input type="checkbox" class="align-middle" *ngIf="(approverRoleId == 1 &&
                                    timeCard.approvalStatusId != 1) ||
                                    (approverRoleId == 2 &&
                                    timeCard.approvalStatusId != 2)" checked disabled>
                            </div>
                            <h6 class="text-capitalize m-0">
                                {{timeCard.employeeId}}
                            </h6>
                        </div>
                        <div class="mr-3">
                            <span class="fa fa-plus mr-2"></span>
                            <span class="fa fa-minus"></span>
                        </div>
                    </div>
                    <!-- end:data 1-->
                    <!--user data-->
                    <div colspan="3">
                        <div id="collapseOne" class="collapse show p-3">
                            <div class="d-flex">
                                <div class="col-6 mr-3"><span class="text-capitalize text-primary
                                        font-weight-bold">approved</span>
                                </div>
                                <div class="col-6">
                                    <span class="text-capitalize" *ngIf="(approverRoleId == 1 &&
                                        timeCard.approvalStatusId == 1) ||
                                        (approverRoleId == 2 &&
                                        timeCard.approvalStatusId == 2)">0</span>
                                    <span class="text-capitalize" *ngIf="(approverRoleId == 1 &&
                                        timeCard.approvalStatusId != 1) ||
                                        (approverRoleId == 2 &&
                                        timeCard.approvalStatusId != 2)">{{timeCard.totalHours}}</span>
                                </div>
                            </div>
                            <div class="d-flex mt-2">
                                <div class="col-6 mr-3"><span class="text-capitalize text-primary
                                        font-weight-bold">unapproved</span>
                                </div>
                                <div class="col-6">
                                    <span class="text-capitalize" *ngIf="(approverRoleId == 1 &&
                                        timeCard.approvalStatusId != 1) ||
                                        (approverRoleId == 2 &&
                                        timeCard.approvalStatusId != 2)">0</span>
                                    <span class="text-capitalize" *ngIf="(approverRoleId == 1 &&
                                        timeCard.approvalStatusId == 1) ||
                                        (approverRoleId == 2 &&
                                        timeCard.approvalStatusId == 2)">{{timeCard.totalHours}}</span>
                                </div>
                            </div>
                            <div class="d-flex mt-2">
                                <div class="col-6 mr-3"><span class="text-capitalize text-primary
                                        font-weight-bold">total</span>
                                </div>
                                <div class="col-6"><span class="text-capitalize">{{timeCard.totalHours}}</span>
                                </div>
                            </div>
                            <div class="d-flex mt-2">
                                <div class="col-6 mr-3"><span class="text-capitalize text-primary
                                        font-weight-bold">comments</span>
                                </div>
                                <div class="col-6"><span class="text-capitalize">{{timeCard.remark}}</span>
                                </div>
                            </div>
                            <!--action button -->
                            <div class="row mt-2">
                                <div class="col-12">
                                    <div class="p-3">
                                        <div class="dropdown">
                                            <button class="border-0 rounded
                                                bg-light dropdown-toggle
                                                text-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="fa fa-gear fa-lg"></span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end:action button-->
                        </div>
                    </div>
                    <!--end:user data-->
                </ng-container>
                <!-- end:user name and data -->
            </div>
        </div>
        <!--end:accordian view-->
        <!--approve and reject section-->
        <div class="col-12 d-flex my-4 flex-wrap">
            <div class="col-md-6 col-sm-12 my-2 mb-md-0">
                <p class="m-0">1. Select Operation</p>
                <hr class="my-2">
                <div class="mt-3">
                    <select [disabled]="!timeChecked" class="form-control text-capitalize rounded ml-2
                        approval-custom-box" [(ngModel)]="submitedStatus" (change)="actionSelection($event)">
                        <option value="null" disabled>---Select Operation---</option>
                        <option value="approved">Approve</option>
                        <option value="rejected">Reject</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 my-2 mb-md-0">
                <p class="m-0">2. {{actionLabel | titlecase }} Selected</p>
                <hr class="my-2">
                <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Fugiat praesentium ducimus
                    placeat
                    obcaecati!
                    Veniam blanditiis commodi eligendi ipsa earum pariatur
                    facere illum.
                </small>
                <div>
                    <button type="button" class="btn btn-primary my-2
                        btn-not-allowed" [disabled]="enableButton == false" (click)="approveReject()">Submit
                    </button>
                </div>
            </div>
        </div>
        <!--end:approve and reject section-->
        <!--end:main wrapper-->
    </div>
</div>