.content-value {
    color: lighten($primary, 20%);
    font-weight: $font-weight-bold;
}

// project-list Staffing header
.staff-list-head {
    .filter-icon {
        display: none;
    }

    .search-btn {
        font-size: 30px;
    }

    @include media-breakpoint-down(sm) {
        .list-head {
            font-size: 22px;
        }

        .filter-input {
            width: 95px;
        }

        .search-btn {
            font-size: 25px;
        }
    }

    @include media-breakpoint-down(xsm) {
        .filter-icon {
            display: block;
            font-size: 24px;
            margin-bottom: 6px;
        }

        .filter-name {
            display: none;
        }
    }
}
