<!--wrapper -->
<div class="weekly-hours-submission p-3 overflow-hidden h-100">
    <form class="d-none d-lg-flex flex-column overflow-hidden h-100" [formGroup]="timecardForm" (ngSubmit)="submitTimeCard()">
        <!-- <input type="hidden" formControlName="id"> -->
        <!-- sub header -->
        <div class="row flex-shrink-0">
            <!-- calendar -->
            <div class="col-12 mb-2 mb-md-0 d-flex justify-content-center">
                <div class="form-group calendar position-relative">
                    <span for="datePicker" class="fa fa-caret-left fa-lg position-absolute px-2 cursor-pointer" (click)="decrementWeek()"></span>
                    <input type="text" formControlName="weekRange" placeholder="sept 09 - sept 15, 2019" class="form-control cursor-pointer text-center" bsDaterangepicker [bsConfig]="dateRangePickerConfig" (ngModelChange)="weekDates()" (focusout)="getFlag()">
                    <span for=" datePicker" class="fa fa-caret-right fa-lg position-absolute px-2 cursor-pointer" (click)="incrementWeek()"></span>
                </div>
            </div>
        </div>
        <!-- end sub header -->
        <!-- Table -->
        <div class="table-wrapper d-flex flex-column w-100 my-2 overflow-hidden flex-grow-1">
            <!-- table header -->
            <div class="flex-shrink-0">
                <table class="table border-0 w-100 mb-0">
                    <!-- thead -->
                    <thead class="bg-primary text-white">
                        <tr>
                            <th class="align-top"><span>Project / Type</span></th>
                            <th class="text-center">
                                <div class="d-flex flex-column">
                                    <span>Mon</span><small>{{getMonDate() | date:"MMM dd"}}</small>
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="d-flex flex-column">
                                    <span>Tue</span><small>{{getTueDate() | date:"MMM dd"}}</small>
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="d-flex flex-column">
                                    <span>Wed</span><small>{{getWedDate() | date:"MMM dd"}}</small>
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="d-flex flex-column">
                                    <span>Thu</span><small>{{getThuDate() | date:"MMM dd"}}</small>
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="d-flex flex-column">
                                    <span>Fri</span><small>{{getFriDate() | date:"MMM dd"}}</small>
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="d-flex flex-column">
                                    <span>Sat</span><small>{{getSatDate() | date:"MMM dd"}}</small>
                                </div>
                            </th>
                            <th class="text-center">
                                <div class="d-flex flex-column">
                                    <span>Sun</span><small>{{getSunDate() | date:"MMM dd"}}</small>
                                </div>
                            </th>
                            <th class="align-top"><span>Total</span></th>
                            <th class="align-top text-center"><span>Status</span></th>
                        </tr>
                    </thead>
                    <!-- Ends: thead -->
                </table>
            </div>
            <!-- End: table header -->
            <!-- table body -->
            <div class="overflow-auto">
                <table class="table border-0 w-100 mb-0">
                    <!-- tbody -->
                    <tbody formArrayName="timeCard">
                        <!-- single record -->
                        <ng-container *ngFor="let timeCard of timecardForm.get('timeCard')['controls']; let i=index">
                            <ng-container [formGroupName]="i">
                                <tr>
                                    <td class="pt-4">
                                        <div class="form-group w-100">
                                            <select formControlName="subProjectId" class="form-control">
                                                <option value="null">--- Select Project ---</option>
                                                <option *ngFor="let projectList of projectDetail"
                                                    value="{{projectList.subProjectId}}">
                                                    {{projectList.subProjectName}}</option>
                                            </select>
                                        </div>
                                        <div *ngIf="hours.controls[i].get('subProjectId').invalid && (hours.controls[i].get('subProjectId').dirty || hours.controls[i].get('subProjectId').touched)" class="errors">
                                            <div class="text-danger" *ngIf="hours.controls[i].get('subProjectId').errors.required">
                                                Project Name is required.
                                            </div>
                                        </div>
                                    </td>
                                    <td class="pt-4">
                                        <div class="form-group w-100">
                                            <input formControlName="monday" type="number" value="8" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                        </div>
                                    </td>
                                    <td class="pt-4">
                                        <div class="form-group w-100">
                                            <input formControlName="tuesday" type="number" value="8" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                        </div>
                                    </td>
                                    <td class="pt-4">
                                        <div class="form-group w-100">
                                            <input formControlName="wednesday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                        </div>
                                    </td>
                                    <td class="pt-4">
                                        <div class="form-group w-100">
                                            <input formControlName="thursday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                        </div>
                                    </td>
                                    <td class="pt-4">
                                        <div class="form-group w-100">
                                            <input formControlName="friday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                        </div>
                                    </td>
                                    <td class="pt-4">
                                        <div class="form-group w-100">
                                            <input formControlName="saturday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                        </div>
                                    </td>
                                    <td class="pt-4">
                                        <div class="form-group w-100">
                                            <input formControlName="sunday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                        </div>
                                    </td>
                                    <td class="total-align text-center">
                                        <input type="hidden" formControlName="totalHours">
                                        <span>{{timeCard.get('totalHours').value}}</span>
                                    </td>
                                    <td class="status-align">
                                        <div class="d-flex justify-content-center align-items-center">
                                            <input type="hidden" formControlName="approvalStatusId">
                                            <span *ngIf="timeCard.get('approvalStatusId').value==1" class="badge badge-warning text-white px-4 py-2 mr-2" title="Wait for RM1 & RM2 for approval">Pending</span>
                                            <span *ngIf="timeCard.get('approvalStatusId').value==2" class="badge badge-warning text-white px-4 py-2 mr-2" title="Approved by RM1, Wait for RM2 for approval">Pending</span>
                                            <span *ngIf="timeCard.get('approvalStatusId').value==3" class="badge badge-danger text-white px-4 py-2 mr-2" title="Rejected by RM1">Rejected</span>
                                            <span *ngIf="timeCard.get('approvalStatusId').value==4" class="badge badge-success text-white px-4 py-2 mr-2" title="Approved by RM1 & RM2">Approved</span>
                                            <span *ngIf="timeCard.get('approvalStatusId').value==5" class="badge badge-danger text-white px-4 py-2 mr-2" title="Rejected by RM2">Rejected</span>
                                            <span *ngIf="timeCard.get('approvalStatusId').value!=2 && timeCard.get('approvalStatusId').value!=4" class="fa fa-close text-primary cursor-pointer" (click)="deleteTimeCard(i, timeCard.get('timeCardId').value)"></span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-top-0 border-bottom pb-3">
                                        <div class="form-group w-100">
                                            <select formControlName="hoursTypeId" class="form-control">
                                                <option value="null">--- Select Project Type ---</option>
                                                <option *ngFor="let proType of projectType"
                                                    value="{{proType.hoursTypeId}}">
                                                    {{proType.hoursType}}</option>
                                            </select>
                                        </div>
                                        <div *ngIf="hours.controls[i].get('hoursTypeId').invalid && (hours.controls[i].get('hoursTypeId').dirty || hours.controls[i].get('hoursTypeId').touched)" class="errors">
                                            <div class="text-danger" *ngIf="hours.controls[i].get('hoursTypeId').errors.required">
                                                Project Type is required.
                                            </div>
                                        </div>
                                    </td>
                                    <td colspan="7" class="border-top-0 border-bottom pb-4">
                                        <div class="form-group w-100">
                                            <input formControlName="remark" type="text" class="form-control" placeholder="Remark">
                                        </div>
                                    </td>
                                    <td class="border-top-0 border-bottom pb-4"></td>
                                    <td class="border-top-0 border-bottom pb-4">
                                    </td>
                                    <input type="hidden" formControlName="timeCardId">
                                </tr>
                            </ng-container>
                        </ng-container>
                        <!-- end single record -->
                    </tbody>
                    <!-- Ends: tbody -->
                </table>
            </div>
            <!-- End: table body -->
            <!-- table footer -->
            <div class="table-footer flex-shrink-0">
                <table class="table border-0 w-100 mb-0">
                    <tfoot>
                        <tr>
                            <td>
                                <div class="d-flex justify-content-between align-items-center">
                                    <button type="button" (click)="addNewTimecard()" class="btn btn-primary px-2 mr-1">
                                        <span class="fa fa-plus pr-3"></span> <span>Add</span>
                                    </button>
                                    <span><b>Total:</b></span>
                                </div>
                            </td>
                            <td class="align-middle">
                                <span class="padding-left">{{totalMon}}</span>
                            </td>
                            <td class="align-middle">
                                <span class="padding-left">{{totalTue}}</span>
                            </td>
                            <td class="align-middle">
                                <span class="padding-left">{{totalWed}}</span>
                            </td>
                            <td class="align-middle">
                                <span class="padding-left">{{totalThu}}</span>
                            </td>
                            <td class="align-middle">
                                <span class="padding-left">{{totalFri}}</span>
                            </td>
                            <td class="align-middle">
                                <span class="padding-left">{{totalSat}}</span>
                            </td>
                            <td class="align-middle">
                                <span class="padding-left">{{totalSun}}</span>
                            </td>
                            <td class="align-middle">
                                <span class="padding-left">{{allWeeklyHours}}</span>
                            </td>
                            <td>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- End: Table footer -->
        </div>
        <!-- Ends: Table -->
        <!-- form action button -->
        <div class="d-none d-lg-flex justify-content-end flex-shrink-0 mt-3">
            <button type="submit" class="btn btn-primary px-5 save-hovre" [disabled]="!timecardForm.valid">{{submitButton}} All</button>
        </div>
    </form>
    <!-- Ends: form action button -->
    <!-- accordion table for mobile -->
    <form class="overflow-hidden d-flex d-lg-none flex-column h-100" [formGroup]="timecardForm" (ngSubmit)="submitTimeCard()">
        <!-- sub header -->
        <div class="row flex-shrink-0">
            <!-- calendar -->
            <div class="col-12 mb-2 d-flex justify-content-center">
                <div class="form-group calendar position-relative">
                    <span for="datePicker" class="fa fa-caret-left fa-lg position-absolute px-2 cursor-pointer" (click)="decrementWeek()"></span>
                    <input type="text" formControlName="weekRange" placeholder="sept 09 - sept 15, 2019" class="form-control cursor-pointer text-center" bsDaterangepicker [bsConfig]="dateRangePickerConfig" (ngModelChange)="weekDates()" (focusout)="getFlag()">
                    <span for=" datePicker" class="fa fa-caret-right fa-lg position-absolute px-2 cursor-pointer" (click)="incrementWeek()"></span>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
        <!-- end sub header -->
        <div class="accordion-view-table overflow-auto flex-grow-1">
            <table class="table rounded bg-primary mb-0">
                <thead>
                    <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
                        <td class="text-capitalize text-white border-top-0">TimeCard</td>
                    </tr>
                </thead>
                <tbody formArrayName="timeCard" class="bg-light px-2">
                    <ng-container *ngFor="let timeCard of timecardForm.get('timeCard')['controls']; let i=index">
                        <ng-container [formGroupName]="i">
                            <tr class="hide-table-padding">
                                <td colspan="3">
                                    <div id="collapseOne" class="collapse show p-2">
                                        <div class="row mt-2">
                                            <div class="col-12 mb-3 d-flex justify-content-between align-items-center">
                                                <span>Project / Type</span>
                                                <span *ngIf="timeCard.get('approvalStatusId').value!=2 && timeCard.get('approvalStatusId').value!=4" class="fa fa-close text-primary cursor-pointer" (click)="deleteTimeCard(i, timeCard.get('timeCardId').value)"></span>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="row">
                                                    <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                                        <div class="form-group">
                                                            <select formControlName="subProjectId" class="form-control text-truncate">
                                                                <option value="null" disabled>--- Select Project ---
                                                                </option>
                                                                <option *ngFor="let projectList of projectDetail"
                                                                    value="{{projectList.subProjectId}}">
                                                                    {{projectList.subProjectName}}</option>
                                                            </select>
                                                        </div>
                                                        <div *ngIf="hours.controls[i].get('subProjectId').invalid && (hours.controls[i].get('subProjectId').dirty || hours.controls[i].get('subProjectId').touched)" class="errors">
                                                            <div class="text-danger" *ngIf="hours.controls[i].get('subProjectId').errors.required">
                                                                Project Name is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <div class="form-group">
                                                            <select formControlName="hoursTypeId" class="form-control">
                                                                <option value="null" disabled>--- Select Project Type
                                                                    ---</option>
                                                                <option *ngFor="let proType of projectType"
                                                                    value="{{proType.hoursTypeId}}">
                                                                    {{proType.hoursType}}</option>
                                                            </select>
                                                        </div>
                                                        <div *ngIf="hours.controls[i].get('hoursTypeId').invalid && (hours.controls[i].get('hoursTypeId').dirty || hours.controls[i].get('hoursTypeId').touched)" class="errors">
                                                            <div class="text-danger" *ngIf="hours.controls[i].get('hoursTypeId').errors.required">
                                                                Project Type is required.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="days-of-week d-flex flex-wrap flex-sm-nowrap">
                                                    <!-- mon -->
                                                    <div class="d-flex flex-column flex-fill">
                                                        <div class="d-flex flex-row flex-sm-column align-items-center mb-2">
                                                            <span class="pr-1 pr-sm-0">Mon</span>
                                                            <small>({{getMonDate() | date:"MMM dd"}})</small>
                                                        </div>
                                                        <div class="form-group mb-3 mb-sm-0">
                                                            <input formControlName="monday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                                        </div>
                                                    </div>
                                                    <!-- tue -->
                                                    <div class="d-flex flex-column flex-fill">
                                                        <div class="d-flex flex-row flex-sm-column align-items-center mb-2">
                                                            <span class="pr-1 pr-sm-0">Tue</span>
                                                            <small>({{getTueDate() | date:"MMM dd"}})</small>
                                                        </div>
                                                        <div class="form-group mb-3 mb-sm-0">
                                                            <input formControlName="tuesday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                                        </div>
                                                    </div>
                                                    <!-- wed -->
                                                    <div class="d-flex flex-column flex-fill">
                                                        <div class="d-flex flex-row flex-sm-column align-items-center mb-2">
                                                            <span class="pr-1 pr-sm-0">Wed</span>
                                                            <small>({{getWedDate() | date:"MMM dd"}})</small>
                                                        </div>
                                                        <div class="form-group mb-3 mb-sm-0">
                                                            <input formControlName="wednesday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                                        </div>
                                                    </div>
                                                    <!-- thu -->
                                                    <div class="d-flex flex-column flex-fill">
                                                        <div class="d-flex flex-row flex-sm-column align-items-center mb-2">
                                                            <span class="pr-1 pr-sm-0">Thu</span>
                                                            <small>({{getThuDate() | date:"MMM dd"}})</small>
                                                        </div>
                                                        <div class="form-group mb-3 mb-sm-0">
                                                            <input formControlName="thursday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                                        </div>
                                                    </div>
                                                    <!-- Fri -->
                                                    <div class="d-flex flex-column flex-fill">
                                                        <div class="d-flex flex-row flex-sm-column align-items-center mb-2">
                                                            <span class="pr-1 pr-sm-0">Fri</span>
                                                            <small>({{getFriDate() | date:"MMM dd"}})</small>
                                                        </div>
                                                        <div class="form-group mb-3 mb-sm-0">
                                                            <input formControlName="friday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                                        </div>
                                                    </div>
                                                    <!-- sat -->
                                                    <div class="d-flex flex-column flex-fill">
                                                        <div class="d-flex flex-row flex-sm-column align-items-center mb-2">
                                                            <span class="pr-1 pr-sm-0">Sat</span>
                                                            <small>({{getSatDate() | date:"MMM dd"}})</small>
                                                        </div>
                                                        <div class="form-group mb-3 mb-sm-0">
                                                            <input formControlName="saturday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                                        </div>
                                                    </div>
                                                    <!-- sun -->
                                                    <div class="d-flex flex-column flex-fill">
                                                        <div class="d-flex flex-row flex-sm-column align-items-center mb-2">
                                                            <span class="pr-1 pr-sm-0">Sun</span>
                                                            <small>({{getSunDate() | date:"MMM dd"}})</small>
                                                        </div>
                                                        <div class="form-group mb-3 mb-sm-0">
                                                            <input formControlName="sunday" type="number" class="form-control" placeholder="0" (keyup)="weekTotal()" digitOnly>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mb-3">
                                                <div class="form-group w-100">
                                                    <input formControlName="remark" type="text" placeholder="Remark" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row mb-3">
                                                    <div class="col-12 col-sm-6 mb-3 mb-sm-0">
                                                        <div class="form-group">
                                                            <div class="d-flex">
                                                                <span class="text-primary mr-2"><b>Total:</b></span>
                                                                <input type="hidden" formControlName="totalHours">
                                                                <span>({{timeCard.get('totalHours').value}})</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-sm-6">
                                                        <div class="d-flex justify-content-sm-end align-items-center">
                                                            <span *ngIf="timeCard.get('approvalStatusId').value==1" class="badge badge-warning px-5 text-white py-2 mr-2" title="Wait for RM1 & RM2 for approval">Pending</span>
                                                            <span *ngIf="timeCard.get('approvalStatusId').value==2" class="badge badge-warning px-5 text-white py-2 mr-2" title="Approved by RM1, Wait for RM2 for approval">Pending</span>
                                                            <span *ngIf="timeCard.get('approvalStatusId').value==3" class="badge badge-danger px-5 text-white py-2 mr-2" title="Rejected by RM1">Rejected</span>
                                                            <span *ngIf="timeCard.get('approvalStatusId').value==4" class="badge badge-success px-5 text-white py-2 mr-2" title="Approved by RM1 & RM2">Approved</span>
                                                            <span *ngIf="timeCard.get('approvalStatusId').value==5" class="badge badge-danger px-5 text-white py-2 mr-2" title="Rejected by RM2">Rejected</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
        <!-- Form Action Buttons -->
        <div class="row flex-shirnk-0">
            <div class="col-12 my-3">
                <div class="d-flex flex-column flex-sm-row justify-content-end">
                    <button type="button" (click)="addNewTimecard()" class="btn btn-primary px-3 mr-1 mb-3 mb-sm-0">
                        <span class="fa fa-plus pr-3"></span> <span>Add</span>
                    </button>
                    <button type="submit" class="btn btn-primary px-3 mr-1 mb-3 mb-sm-0 save-hovre" [disabled]="!timecardForm.valid">
                        <span>{{submitButton}} All</span>
                    </button>
                </div>
            </div>
        </div>
        <!-- End Form Action Button -->
    </form>
    <!-- End: accordion view -->
</div>
<!--End: wrapper -->